.idx_people {
    height: 24px;
    width: 24px;
    float: none;
    margin: 0 auto;
    padding-top: 10px;
}

.idx_login {
    margin-right: 0;
    width: 36px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    float: none;
    display: block;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    text-align;
    center;
    margin-left: 10px;
    border-radius: 3px;
    outline: none;
    background: transparent;
    border: none;
}

.shop_hea>div.idx_logo_head {
    float: left;
    margin-left: 10px;
}

.shop_hea>div.idx_logo_head img {
    width: 112px;
    height: auto;
    margin-top: 13px;
}

#header,
.idx_head {
    height: 44px;
    background: #f13130;
}

.shop_hea p {
    margin-right: 16px;
}

.idx_seac_icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    float: right;
}

.idx_seac_icon img {
    width: 24px;
    height: 24px;
}

.idx_log {
    float: right;
}

.idx_more_sale {
    font-size: 12px;
    color: #6c6c6c;
    float: right;
    display: inline-block;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.idx_you_like_more {
    font-size: 12px;
    color: #6c6c6c;
    float: right;
    display: inline-block;
}

.idx_sales_goods {
    float: right;
    font-size: 12px;
    margin-top: 5px;
    color: #999
}

.idx_sea_head {
    background: #f2434a;
    height: 48px;
    width: 100%;
    display: -moz-box;
    display: box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
}

.idx_sea_close {
    margin-top: 9px;
    margin-right: 5px;
    width: 30px;
}

.idx_sea_close img {
    height: 18px;
    width: auto;
    margin-top: 6px;
    margin-left: 5px;
}

.idx_sea_box {
    padding: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    background: transparent;
}

.idx_sea_box_out {
    border-radius: 0;
    width: 95%;
    top: 8px;
    border-radius: 3px;
    height: 32px;
}

.idx_sea_txt {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.search_box button.idx_sea_btn_sub {
    height: 32px;
    width: 32px;
    top: 0;
    right: 0;
    background: url(images/ico_07_search.png) no-repeat;
    background-size: 100% auto;
}

.idx_sea_hea_close {
    position: absolute;
    top: 8px;
    right: 40px;
    width: 18px;
    height: 18px;
    display: none;
}

.idx_sea_everyone {
    padding: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    background: transparent;
}

.idx_sea_goods {
    padding-right: 10px;
    box-sizing: border-box;
}

.index_fenlei {
    float: right;
    width: 49.5%;
    margin-top: 0px;
    box-sizing: border-box;
}